.form-switch .form-check-input 
{
    display: inline-block;
    position: absolute;
    top: 22rem;
    left: 45rem;
    width: 10rem;
    height: 3rem;
    margin: auto;
}

#toggle_text{
    margin: auto;
    position: relative;
    display: inline-block;
    top:27rem;
    left:27rem;
}